<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trumpeter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
  </head>

  <body>

    <div class="row align-middle">
        <h1 class="small-6 small-centered columns text-center">Trumpeter</h1>
        <%= yield %>
    </div>

    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="./js/bundle.js"></script>
  </body>
</html>
